@import "../../styles/main.css";

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

body,
html {
	height: 100%;
}

.slideShowContainer {
	text-align: center;
	height: 100%;
	width: 100%;
}

.captionBox {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10%;
	background: linear-gradient(0deg, rgba(0,0,0,0.8995799003195029) 0%, rgba(0,0,0,0.9023810207676821) 50%, rgba(0,0,0,0) 100%);
}

	.postCaption {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 5px;
	font-size: 24px;
	font-weight: 500;
	color: white;
	padding: 10px;
}

/* #root {
  height: 100%;
} */
