@import "../../styles/main.css";

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

body,
html {
	height: 100%;
}

.slideShowContainer {
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
}

.postCaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 500%);
	font-size: 24px;
	background-color: #c8c8c8;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	opacity: 0.85;
}

/* #root {
  height: 100%;
} */
