@import url('../../styles/main.css');

.settingsSection {
	margin: 4% 0 0 4%;
}
.settingsForm {
	display: flex;
	flex-direction: column;
	width: 600px;
}
.settingsForm > div {
	display: flex;
	margin: 0.25rem 0;
	align-items: center;
	justify-content: space-between;
}
.logoutContainer {
	display: flex;
	justify-content: end;
}
.submitSettingsBtn,
.instagramLogout {
	padding: 8px auto;
	width: 200px;
	font-size: 24px;
	height: 40px;
	margin: 34px auto;
	color: var(--color-white);
	background-color: var(--color-blue);
	border-radius: 4px;
	border-color: transparent;
}
.submitSettingsBtn:hover {
	cursor: pointer;
	background-color: var(--color-white);
	color: var(--color-blue);
	border-color: var(--color-blue);
}
.cycleErrMsg {
	font-family: var(--font-Montserrat);
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: red;
}
.exitPreviewBtnContainer {
	display: flex;
	flex-direction: row !important;
	justify-content: flex-end !important;
	width: 100%;
	margin: 0.25rem 0;
}
.exitPreviewBtn {
	/* position: relative; */
	width: 32px;
	height: 32px;
}
.previewImg {
	max-width: 800px;
	max-height: 800px;
}
@media screen and (min-width: 1200px) {
	.settingsSection {
		margin: 5% auto;
	}
}
@media screen and (max-width: 900px) {
	.settingsForm {
		width: 300px;
	}
	.settingsForm > div {
		margin: .75rem 0;
	}
}
