.contactUsPageContainer {
	padding-left: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: justify;
}
.contactUsSubContainers,
.contactUsSubContainer1 {
	width: 100%;
	display: flex;
	margin: 0 auto;
}
.contactUsSubContainer1 > h1 {
	width: 50%;
}
.contactUsSubSection {
	width: 50%;
	padding: 1%;
}
