.settingsSection {
	margin: 4% 0 0 4%;
}
.settingsForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.settingsForm > div {
	display: flex;
	margin: 0.25rem 0;
	align-items: center;
	justify-content: space-between;
}
.instagramLogout {
	display: block;
	margin: 1rem auto 0 auto;
}
@media screen and (min-width: 1200px) {
	.settingsSection {
		margin: 5% auto;
	}
}
