:root {
	--color-blue: #18a0fb;
	--color-black: rgb(0, 0, 0);
	--color-grey-light: #eeeded;
	--color-white: #fff;
	--font-Montserrat: 'Montserrat', sans-serif;
	--font-Comfortaa: 'Comfortaa', cursive;
}

.font-mont {
	font-family: var(--font-Montserrat);
}
.font-comf {
	font-family: var(--font-Comfortaa);
}
.whiteBG {
	background-color: #fffefe;
}

/* TODO(Chris): Find another way to fullscreen the slideshow images besides
   modifying height. */
div#root {
	height: 100%;
}
div#root > main {
	height: 100%;
}