.settingsSection {
	margin: 4% 0 0 4%;
}
.modalContainer {
	display: flex;
	justify-content: center;
}
.settingsForm {
	display: flex;
	flex-direction: column;
	width: 600px;
}
.settingsForm > div {
	display: flex;
	margin: 0.25rem 0;
	align-items: center;
	justify-content: space-between;
}
.instagramLogout {
	display: block;
	margin: 1rem auto 0 auto;
}
.cycleErrMsg {
	font-family: var(--font-Montserrat);
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: red;
}
.exitPreviewBtnContainer {
	display: flex;
	flex-direction: row !important;
	justify-content: flex-end !important;
	width: 100%;
	margin: 0.25rem 0;
}
.exitPreviewBtn {
	/* position: relative; */
	width: 32px;
	height: 32px;
}
.previewImg {
	max-width: 800px;
	max-height: 800px;
}
@media screen and (min-width: 1200px) {
	.settingsSection {
		margin: 5% auto;
	}
}
@media screen and (max-width: 900px) {
	.settingsForm {
		width: 300px;
	}
	.settingsForm > div {
		margin: .75rem 0;
	}
}
