@import "../styles/main.css";

.sidenavbar {
	/* background-color: var(--color-grey-light); */
	width: 200px;
	height: 100vh;
}
.sidenavbar > div > nav > ul > li > div.pro-inner-item > span.pro-icon-wrapper {
	background-color: transparent;
}
.sidenavbar > div.pro-sidebar-inner > div > nav > ul > li > div.pro-inner-item > span.pro-icon-wrapper {
	background-color: transparent;
}
.sidenavbarMenu {
	height: 80%;
}
.sidenavbarSubmenu {
	min-height: 80%;
}
/* Arrow Icon Div Container */
.sidenavbarSubmenu > div {
	margin-top: 1rem;
}
/* Arrow Icon */
.sidenavbarSubmenu > div > span > span {
	height: 18px;
	width: 18px;
}
/* Sidebar Items Container */
.sidenavbarMenu > ul > li > div > div {
	margin-top: 1.5rem;
}
#root > main > div > div.pro-sidebar-inner > div > nav > .sidenbarContainer {
	display: flex;
	flex-direction: column;
}
.sidenavbarImageContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 10px;
}
.sidenavbarImage {
	background-color: transparent;
	margin: 0 auto;
	border-radius: 4px;
}
.sidenavitem {
	height: 96px;
	width: 100%;
	list-style-type: none !important;
}

.sidenavitem > div {
	padding: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	cursor: pointer !important;
	margin: 0 auto !important;
	width: 100% !important;
	height: 100% !important;
}

.sidenavitem > div > span {
	width: 100% !important;
	height: 100% !important;
}

.sidenavitem > div > span > a {
	width: 100% !important;
	height: 100% !important;
}

.sidenavitem:hover {
	cursor: pointer;
	background-color: #fffefe;
}
.sidenavitemContent {
	margin: 0;
	padding-left: 12px;
}
.sidenavBullet {
	height: 21px;
	width: 21px;
	margin: 0;
	padding-left: 13px;
}
.sidenavbarLink {
	white-space: initial;
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
	height: 100% !important;
}
