.sectionImageLeft {
	background-color: transparent;
    width: 500px;
    height: 350px;
    border-radius: 50%;
}
.sectionImageRight {
	background-color: transparent;
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 50%;
}
/*.sectionImageBack {
	background-color: var(--color-grey-light);
	width: 100vw;
	height: 350px;
}*/
