@import "../styles/main.css";

.btn-primary {
	margin: 34px auto;
	color: var(--color-white);
	background-color: var(--color-blue);
	border-radius: 4px;
	width: 362px;
	height: 98px;
	border-color: transparent;
}
.btn-secondary {
	margin: 34px auto;
	background-color: var(--color-white);
	border-radius: 4px;
	width: 362px;
	height: 98px;
	border-color: var(--color-blue);
	color: var(--color-blue);
}
.btn-primary:hover,
.btn-secondary:hover {
	cursor: pointer;
}
.btn-primary:hover {
	background-color: var(--color-white);
	color: var(--color-blue);
	border-color: var(--color-blue);
}
.btn-secondary:hover {
	color: var(--color-white);
	background-color: var(--color-blue);
	border-color: transparent;
}
