:root {
	--color-blue: #18a0fb;
	--color-black: rgb(0, 0, 0);
	--color-white: #fff;
	--font-Montserrat: 'Montserrat', sans-serif;
	--font-Comfortaa: 'Comfortaa', cursive;
}

.font-mont {
	font-family: var(--font-Montserrat);
}
.font-comf {
	font-family: var(--font-Comfortaa);
}
